<?xml version="1.0"?>
<robot name="go2" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="simulation" default="True"/>
  <xacro:property name="fixed_base" default="False"/>

  <!-- Include the body (Torso) -->
  <xacro:include filename="$(find go2_description)/urdf/torso.xacro"/>
  <xacro:torso simulation="${simulation}" fixed_base="${fixed_base}"/>
  
  <!-- Include the leg definition -->
  <xacro:include filename="$(find go2_description)/urdf/leg.xacro"/>

  <!-- Instantiate the four legs -->
  <xacro:leg name="FL" x="0.1934" y="0.0465" mirror_x="1" mirror_y="1"/>
  <xacro:leg name="FR" x="0.1934" y="-0.0465" mirror_x="1" mirror_y="-1"/>
  <xacro:leg name="RL" x="-0.1934" y="0.0465" mirror_x="-1" mirror_y="1"/>
  <xacro:leg name="RR" x="-0.1934" y="-0.0465" mirror_x="-1" mirror_y="-1"/>

  <!-- Include the sensors -->
  <xacro:include filename="$(find go2_description)/urdf/sensors.xacro"/>
  <xacro:sensors/>


  <!-- Include ROS 2 Control System -->
  <xacro:include filename="$(find go2_description)/urdf/ros2_control.xacro"/>

<xacro:if value="${simulation}">
  <xacro:include filename="$(find go2_description)/gz/gz.xacro"/>
  <xacro:gz_simulation/>
</xacro:if>



</robot>
